body {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left:20px;
}

h1 {
    font-weight: bolder;
    font-size: 70px;
    padding-top: 1px;
    padding-bottom:1px;
    background: linear-gradient(to right, rgb(25, 82,76), rgb(33, 100, 93), rgb(25, 82,76), rgb(4, 14, 13), black);
    text-shadow: 2px 2px rgb(48, 143, 133);
    color: black;
    text-transform: uppercase;
}

h2 {
    font-size: large;
    font-weight: normal;
}

h3 {
    color: rgb(25, 82, 76);
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
}

p {
    font-size: small;
    margin-right: 20%;
}

.code {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(25, 82,76);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom:1px;
    width: 400px;
    background-color: rgb(29, 39, 38);
    color:turquoise;
}

.img {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(25, 82,76);
    width: 420px;
}

button {
    width: 100px;
    padding: 5px 2px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: black;
    color: white;
}

.largebutton button {
    width: 210px;
    padding: 5px 2px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: black;
    color: white;
    text-align: left;
}

.button:hover {
    background-color: darkcyan;
}

.uitvoering4 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

.uitvoering4 p {
    color: darkblue;
    font-size: 24px;
    margin-left: 0px;
}

.uitvoering5 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(25, 82,76);
    background-color: #e5e5e5;
    width: 420px;
}

.uitvoering5 p {
    font-size: 24px;
    margin-left: 0px;
}

.uitvoering6Child > p { 
    color:black; 
    background: cyan;
    width: 420px;; 
} 

.uitvoering6adjecent + p {
    color: black;
    background-color: cyan;
    width: 420px;
}

.uitvoering6general ~ p {
    color: black;
    background-color: cyan;
    width: 420px; 
}

.opdracht8 p{
   color: red;
   color: green;
}

.opdracht8 {
    color: blue;
}

.div2 {
    color: blue;
}