body {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    position: relative;
    margin-right: 10px;
}

.containerbackground {
    position: absolute;
    font-weight: bolder;
    font-size: 500px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: -1;
    margin-top: 180px;
    margin-left: 45%;
    transform: rotate(90deg);
    background: linear-gradient(rgb(10, 34, 32), rgb(8, 12, 12),black);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-weight: bolder;
    font-size: 70px;
    padding-top: 1px;
    padding-bottom:1px;
    background: linear-gradient(to right, rgb(25, 82,76), rgb(33, 100, 93), rgb(25, 82,76), rgb(4, 14, 13), black);
    text-shadow: 2px 2px rgb(48, 143, 133);
    color: black;
    text-transform: uppercase;
}

h3 {
    color: rgb(25, 82, 76);
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
    margin-left: 20px;
}

p {
    font-size: small;
    margin-right: 20%;
    margin-left: 20px;
}

.code {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(25, 82,76);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom:1px;
    width: fit-content;
    background-color: rgb(29, 39, 38);
    color:turquoise;
    margin-left: 20px;
}