body {
    background-color: $background_color;
    font-family: script;
}

/// /// /// pages /// /// ///
.page_Start {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 620px;
    border: 1px solid $box_color;
    margin: auto;
    margin-top: 20px;
}

.page_Question {
    position: relative;
    width: 400px;
    height: 620px;
    background-color: $box_color;
    margin: auto;
    margin-top: 20px;
}

/// /// set buttons /// ///
button {
    font-weight: bolder;
    font-size: 20px;
    border: none;
    &:hover {
        background-color: $button_hover_color
    }
}

.start_btn {
    width: 200px;
    height: 50px;
    background-color: $box_color;
}

.btn {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: $button_color;
}

.next_btn {
    bottom: -68px;
    left: 52%
}

.prev_btn {
    bottom: -68px;
    right: 52%
}

/// /// /// Options /// /// ///
.answercontainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 390px;
    gap: 20px;
    bottom: 0px;
    justify-content: center;
    align-items: center;
}

.option {
    position: relative;
    width: 360px;
    height: 50px;
    background-color: $background_color;
}

.number {
    text-align: center;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 20px solid $box_color;
    background-color: $background_color;
    border-radius: 50%;
    font-size: 40px;
    top: -20px;
}

.number1, .number3, .number5{
    left: -15px;
}

.number2, .number4 {
    right: -15px;
}

/// /// /// question field /// /// ///
.question {
    position: absolute;
    top: 130px;
    left: 20px;
    width: 360px;
    height: 110px;
    border-radius: 20px;
    background-color: $background_color
}