body {
    background-color: $background_color;
    font-family: script;
}

/// /// /// pages /// /// ///
.page_Start {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    border: 1px solid $box_color;
    margin: auto;
    margin-top: 20px;
}

.page_Question {
    position: relative;
    width: 400px;
    height: 600px;
    background-color: $box_color;
    margin: auto;
    margin-top: 20px;
}

/// /// set buttons /// ///
.start_btn {
    width: 200px;
    height: 50px;
    background-color: $box_color;
    font-weight: bolder;
}

.btn {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: $button_color;
    border: none;
    font-weight: bolder;
    &:hover {
        background-color: $button_hover_color;
    }
}

.next_btn {
    bottom: -68px;
    left: 52%
}

.prev_btn {
    bottom: -68px;
    right: 52%
}

/// /// /// Options /// /// ///
.option {
    position: absolute;
    width: 360px;
    height: 50px;
    background-color: $background_color;
    left: 20px;
}

.option1 {
    top: 250px;
}
.option2 {
    top: 320px;
}
.option3 {
    top: 390px;
}
.option4 {
    top: 460px;
}
.option5 {
    top: 530px;
}

.number {
    width: 50px;
    height: 50px;
    border: 10px solid $box_color;
}

