$background_Color:  rgb(240, 220, 200);
$lightbrown: rgb(160, 100, 30);
$crimsonPink:  rgb(220, 20, 60);
$darkblue: rgb(0, 0, 100);

body {
    background-color: $background_Color;
    color: $lightbrown;
}
