body {
    font-size: 1.8em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.2;
}

.size21 {
      font-size: 2.1em;
      line-height: 0.9;
  }

.size16 {
    font-size: 1.6em;
    line-height: 1.1;
}

.size11 {
    font-size: 1.1em;
}

.size08 {
    font-size: 0.78em;
}

#setColor {
     text-shadow: 6px 6px 6px $darkestblue;
     transition: 0.6s ease;
}