body {
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 0.89;
}
span {
    color: $darkblue;
    font-size: 2.1em;
    line-height: 0.78;
}

span2 {
    color: $darkblue;
    font-size: 1.1em;
}

span3 {
    font-size: 0.8em;
}
span4 {
    font-size: 1.66em;
}

.numbertext {
    color: $lightbrown;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }