body {
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 0.85;
}

.size21 {
      font-size: 2.1em;
      line-height: 0.9;
  }

.size16 {
    font-size: 1.6em;
    line-height: 1.1;
}

.size11 {
    font-size: 1.1em;
}

.size08 {
    font-size: 0.78em;
}

.colorblue {
    color: $darkblue;
}
