p {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: $mainfont;
    text-shadow: 2px 2px 4px $borderColor;
}

.size1 {
    font-size: 70px;
}

.size2 {
    font-size: 50px;
}

.size3 {
    font-size: 25px;
}