.carousel {
    position: relative;
    height: 600px;
    width: 350px;
    margin: auto;
}

.carousel_img {
    height: 100%;
}

.carousel_track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.carousel_track {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 500ms ease-in;
}

.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


/// /// /// buttons /// /// ///
.carousel_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.prev {
    left:-30px;
}
.next {
    right: -30px;
}

/// /// /// NAV /// /// ///
.carousel_nav {
    // background: pink;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel_indicator {
    border: O;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: black;
    opacity: 0.8;
    margin: 7px;
    cursor: pointer;
}

.carousel_indicator.current-slide {
    background: red;
}