body {
    background-color: black;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: small;
}

.formcontainer {
    background-color: rgb(91, 112, 156);width: 500px;
    padding: 20px;
    margin: auto;
}

.formquestion {
    font-weight: bolder;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 5px 2px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: black;
    color: cadetblue;
  }

  input[type=submit], input[type=reset] {
    width: 25%;
    padding: 5px 2px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: black;
    color: cadetblue;  
  }

  input[type=date], input[type=time], input[type=search] {
    width: 50%;
    padding: 5px 2px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: black;
    color: cadetblue;  
  }

  input[type=submit]:hover, input[type=reset]:hover {
      background-color: darkcyan;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.button {
    width: 25%;
    padding: 5px 2px;
    margin: 8px 0;
     border: 1px solid #ccc;
    border-radius: 4px;
    background-color: black;
    color: cadetblue;  
}