body {background-color: black;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.formcontainer {background-color: rgb(91, 112, 156);width: 500px;
    padding: 20px;
    margin: auto;
}

.formquestion {font-weight: bolder;
}

.inputflex {display: flex;
    justify-content: right; }