body {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left:20px;
    font-size: 1el;
}

h1 {
    font-weight: bolder;
    font-size: 70px;
    padding-top: 1px;
    padding-bottom:1px;
    margin-top: 0px;
    background: linear-gradient(to right, rgb(25, 82,76), rgb(33, 100, 93), rgb(25, 82,76), rgb(4, 14, 13), black);
    text-shadow: 2px 2px rgb(48, 143, 133);
    color: black;
    text-transform: uppercase;
}

h2 {
    font-size: large;
    font-weight: normal;
}

h3 {
    color: rgb(25, 82, 76);
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
}

h4 {
    font-size: 20px;
    padding-top: 1px;
    padding-bottom:1px;
    margin-bottom: 0px;
    background: linear-gradient(to right, rgb(25, 82,76), rgb(33, 100, 93), rgb(25, 82,76), rgb(4, 14, 13), black);
    text-shadow: 2px 2px rgb(48, 143, 133);
    color: black;
}

p {
    margin-right: 20%;
}

img {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(25, 82,76);
}

.code {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(25, 82,76);
    padding: 10px;
    padding-left: 25px;
    width: 800px;
    background-color: rgb(29, 39, 38);
    color:turquoise;
}

button {
    width: 100px;
    padding: 5px 2px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: black;
    color: white;
}

.largebutton button {
    width: 210px;
    padding: 5px 2px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: black;
    color: white;
    text-align: left;
}

.button:hover {
    background-color: darkcyan;
}
