body {color: white;
}

.container {background: linear-gradient(to bottom left, green, black);
    height: 300px;
    width: 300px;
    line-height:18px;
    text-align: center;
}

h1 {font-size: 80px;
}

h3 {font-size: x20px;
}