body {
    background-image: url('../img/vincent-bourilhon-time.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.banner {
    position:absolute;
    background-image: url('../img/seiko_logo.png');
    background-repeat:no-repeat;
    background-size: contain;
    height: 100px;
    width: 300px;
    bottom: -40%;
    right: -215%;
    opacity: 0.3;
    z-index: -100;
}