$light-gray: rgba(186,186,198,1);
$light-gray2: rgba(120,131,135,1);
$mid-gray: rgb(128, 128, 128);
$dark-gray: rgb(88, 88, 88);
$displayednumbers_color: rgb(47, 116, 116);
$clock_color_main: rgb(60, 150, 150);