.btn {
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 50%;
  border-bottom: 2px solid #646464;
  border-right: 2px solid #646464;
  color: #3c3c3c;
  font-weight: bolder;
  font-weight: bold;
  background: radial-gradient(circle, #1e1e1f 0%, black 100%);
}

.btn::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0.1;
  border-radius: 50%;
  background-color: #3a3a3a;
}

.btn::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  opacity: 0.1;
  border-radius: 50%;
  background-color: #3d3d3d;
}

.btn:hover {
  --animationcolor: cyan;
  -webkit-animation: glow 700ms infinite;
          animation: glow 700ms infinite;
  color: white;
}

@-webkit-keyframes glow {
  0% {
    -webkit-box-shadow: inset 0px 0px 3px var(--animationcolor);
            box-shadow: inset 0px 0px 3px var(--animationcolor);
    border-bottom: 2px solid #646464;
    border-right: 2px solid #646464;
  }
  60% {
    -webkit-box-shadow: inset 0px 0px 30px var(--animationcolor);
            box-shadow: inset 0px 0px 30px var(--animationcolor);
    border-bottom: 2px solid #787878;
    border-right: 2px solid #787878;
  }
  100% {
    -webkit-box-shadow: inset 0px 0px var(--animationcolor);
            box-shadow: inset 0px 0px var(--animationcolor);
    border-bottom: 2px solid #646464;
    border-right: 2px solid #646464;
  }
}

@keyframes glow {
  0% {
    -webkit-box-shadow: inset 0px 0px 3px var(--animationcolor);
            box-shadow: inset 0px 0px 3px var(--animationcolor);
    border-bottom: 2px solid #646464;
    border-right: 2px solid #646464;
  }
  60% {
    -webkit-box-shadow: inset 0px 0px 30px var(--animationcolor);
            box-shadow: inset 0px 0px 30px var(--animationcolor);
    border-bottom: 2px solid #787878;
    border-right: 2px solid #787878;
  }
  100% {
    -webkit-box-shadow: inset 0px 0px var(--animationcolor);
            box-shadow: inset 0px 0px var(--animationcolor);
    border-bottom: 2px solid #646464;
    border-right: 2px solid #646464;
  }
}

@font-face {
  font-family: time-Font;
  src: url(../fonts/TickingTimebombBB.ttf);
}

@font-face {
  font-family: anologue-number-Font;
  src: url(../fonts/Via_Appia.ttf);
}

.container {
  position: relative;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin-left: 15%;
  top: 20%;
  background: radial-gradient(circle, #babac6 0%, gray 100%);
  -webkit-box-shadow: inset 0px 0px 0px 3px gray, inset 10px 20px 50px 10px black;
          box-shadow: inset 0px 0px 0px 3px gray, inset 10px 20px 50px 10px black;
}

.container::before {
  content: '';
  position: absolute;
  left: 220px;
  top: 100px;
  width: 120px;
  height: 120px;
  opacity: 0.1;
  border-radius: 50%;
  background-color: white;
  z-index: 10;
}

.container::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  top: 180px;
  left: 300px;
  opacity: 0.1;
  border-radius: 50%;
  background-color: white;
  z-index: 10;
}

.logo {
  position: absolute;
  width: 208px;
  height: 80px;
  margin-left: 96px;
  margin-top: 60px;
  color: black;
}

.time {
  position: absolute;
  width: 240px;
  height: 80px;
  background-color: black;
  font-family: time-Font;
  color: #2f7474;
  font-size: 80px;
  padding-left: 60px;
  padding-top: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button_container {
  position: absolute;
  width: 208px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 270px;
  margin-left: 96px;
}

.logo {
  font-size: 80px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
  text-shadow: 1px -2px 2px #585858;
}

.stopWatch {
  position: absolute;
  width: 260px;
  height: 80px;
  background-color: black;
  font-family: time-Font;
  color: #2f7474;
  font-size: 80px;
  padding-left: 40px;
  padding-top: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

body {
  background-image: url("../img/vincent-bourilhon-time.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.banner {
  position: absolute;
  background-image: url("../img/seiko_logo.png");
  background-repeat: no-repeat;
  height: 180px;
  width: 520px;
  top: 100%;
  right: -210%;
  opacity: 0.3;
  z-index: 10;
}

.analogue_clock {
  position: absolute;
  width: 750px;
  height: 750px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.4;
}

.outerCircle {
  position: absolute;
  height: 750px;
  width: 750px;
  border: 3px solid #3c9696;
  border-radius: 50%;
}

.innerCircle {
  position: absolute;
  height: 600px;
  width: 600px;
  border: 3px solid #3c9696;
  border-radius: 50%;
}

.number {
  color: green;
  font-size: 100px;
  border: 3px solid #3c9696;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: -13px;
}

.rotationdisc {
  position: absolute;
  height: 420px;
  width: 420px;
  border: 2px solid #3c9696;
  border-radius: 50%;
}

.disc1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.disc2 {
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
}

.disc3 {
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
}

.disc4 {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.disc5 {
  -webkit-transform: rotate(165deg);
          transform: rotate(165deg);
}

.disc6 {
  -webkit-transform: rotate(195deg);
          transform: rotate(195deg);
}

.disc7 {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.disc8 {
  -webkit-transform: rotate(255deg);
          transform: rotate(255deg);
}

.disc9 {
  -webkit-transform: rotate(285deg);
          transform: rotate(285deg);
}

.disc10 {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.disc11 {
  -webkit-transform: rotate(345deg);
          transform: rotate(345deg);
}

.disc12 {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.test {
  font-family: anologue-number-Font;
  color: red;
  font-size: 100px;
}
/*# sourceMappingURL=main.css.map */