@import '../CSS/buttons';
@import '../CSS/fonts';
@import '../CSS/colors';
@import '../CSS/stopwatch';
@import '../CSS/body';
@import '../CSS/analogue';

.test {
    font-family: anologue-number-Font;
    color: red;
    font-size: 100px;
}