@import '../CSS/buttons';

body {
    background-color: red ;
}

.time {
    font-family: Arial, Helvetica, sans-serif;
    color: cyan;
    font-size: 50px;
}

.container {
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: auto;
    top: 10vh;
    background: radial-gradient(circle, rgba(186,186,198,1) 0%, rgba(120,131,135,1) 100%);
    box-shadow: inset 0px 0px 0px 3px gray, inset 10px 20px 50px 10px black, ;
}

.container::before {
  content: '';
  position: absolute;
  left: 220px;
  top: 100px;
  width: 120px;
  height: 120px;
  opacity: 0.1;
  border-radius: 50%;
  background-color: white;
  z-index: 3;
}

.container::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 70px;
  top: 180px;
  left: 300px;
  opacity: 0.1;
  border-radius: 50%;
  background-color: white;
}

.logo {
    position: absolute;
    width: 208px;
    height: 80px;
    margin-left: 96px;
    margin-top: 60px;
    color: black;
}

.time {
    position: absolute;
    width: 300px;
    height: 80px;
    background-color: black;
    border-radius: 5px ;
    margin-left: 50px;
    margin-top: 160px;
    display: flex;
}

.button_container {
    position: absolute;
    width: 208px;
    height: 80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 260px;
    margin-left: 96px;
}

.logo {
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: gray;
    text-shadow: 1px 1px 2px rgb(90, 88, 88);
}