body {
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left:20px;
}

h1 {
    font-weight: bolder;
    font-size: 70px;
    padding-top: 1px;
    padding-bottom:1px;
    margin-top: 0px;
    background: linear-gradient(to right, rgb(25, 82,76), rgb(33, 100, 93), rgb(25, 82,76), rgb(4, 14, 13), black);
    text-shadow: 2px 2px rgb(48, 143, 133);
    color: black;
    text-transform: uppercase;
}

h2 {
    font-size: large;
    font-weight: normal;
}

h3 {
    color: rgb(25, 82, 76);
    font-size: x-large;
    font-weight: bolder;
    text-transform: uppercase;
}

h4 {
    font-size: 20px;
    padding-top: 1px;
    padding-bottom:1px;
    margin-bottom: 0px;
    background: linear-gradient(to right, rgb(25, 82,76), rgb(33, 100, 93), rgb(25, 82,76), rgb(4, 14, 13), black);
    text-shadow: 2px 2px rgb(48, 143, 133);
    color: black;
}

p {
    font-size: small;
    margin-right: 20%;
}

li {
    font-size: small;
}

.code {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(25, 82,76);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom:1px;
    width: 400px;
    background-color: rgb(29, 39, 38);
    color:turquoise;
}


img {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(25, 82,76);
    width: 420px;
}

.normalwidth img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

button {
    width: 100px;
    padding: 5px 2px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: black;
    color: white;
}

.largebutton button {
    width: 210px;
    padding: 5px 2px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: black;
    color: white;
    text-align: left;
}

.button:hover {
    background-color: darkcyan;
}

.opdracht1-letter p::first-letter{
    font-family:Algerian;
    font-size:3em;
    color: cyan;
}

.opdracht1-line p::first-line{
    font-family:Algerian;
    font-size:2em;
    color: cyan;
}

.opdracht1-before li::before {
    content: " ♙ ";
}

.opdracht1-after li::after {
    content: " ♙ ";
}

.wrapperLI a{
    color: white;
    text-decoration:none;
}

.wrapperLI a:hover {
    color:cyan;
    text-decoration:none;
}

.opdracht3-backdrop video::backdrop {
    background: url(../../../../pics/trees.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
}

.opdracht3-file-selector input[type=file]::file-selector-button {
    transition: 1s;
    width: 100px;
    padding: 5px 2px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: black;
    color: white;
}
      
.opdracht3-file-selector input[type=file]::file-selector-button:hover {
    background-color: darkcyan;
}

.opdracht3-grammar ::grammar-error  {
    text-decoration: underline red;
    color: red;
}

.opdracht3-marker ul li::marker {
    color:cyan;
    font-size: 1.5em;
}

.opdracht3-placeholder input::placeholder {
    color: darkcyan;
    font-size: 1.2em;
    font-style: italic;
}

.opdracht3-selection p::selection {
    color: rgb(255, 83, 112);
    background-color: none;
}

.opdracht3-target ::target-text {
    background-color: cyan;
    color: black;
    font-weight: bold;
}

.opdracht4-bluebox {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 420px;
    height:35px;
    background-color: #20b2aa;
    text-align: center;
    align-items: center;
}

.opdracht4-wrapper {
    position: relative;
    width: 420px;
    height:35px;
}

.bottom-corner::after {
    content:'';
    position: absolute;
    background-color: #ff6347;
    width: 5px;
    height: 35px;
    bottom: 0;
    right: 0;
}

.bottom-corner::before {
    content:'';
    position: absolute;
    background-color: #ff6347;
    width: 35px;
    height: 5px;
    bottom: 0;
    right: 0;
}

.top-corner::after {
    content:'';
    position: absolute;
    background-color: #ff6347;
    width: 5px;
    height: 100%;
    bottom: 0;
    left: 0;
}

.top-corner::before {
    content:'';
    position: absolute;
    background-color: #ff6347;
    width: 35px;
    height: 5px;
    top: 0;
    left: 0;
 }


.opdracht5-container {
    width: 420px;
    min-height: 200px;
    position: relative;
}

.opdracht5-container::before {
    content: '';
    position: absolute;
    background: url('../../../../pics/cat-glasses.jpg');
    opacity: 0.5;
    background-size: 420px;
    top: 0px;
    left: 0px;
    width: 420px;
    height: 200px;
    z-index: -1;
}

.opdracht5-container p{
    padding: 15px;
    margin-right: 0px;
    color: cyan;
}

.opdracht6 {   
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 100px;
    background-color: white; 
}

.bol {
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.nummer {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    line-height: 80px; 
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.bol::before {
    content: '';
    background-color: black;
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    left: -20px;
    top: 20px;
}

.bol::after {
    content: '';
    background-color: black;
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    right: -20px;
    top: 20px;
}

.dotleft {
    position: absolute;
    left: 0px;
    top: 20px;
}

.dotright {
    position: absolute;
    right: 0px;
    bottom: 26px;
    z-index: 1;
}

.opdracht7 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 420px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(25, 82,76);
    background-color: rgb(29, 39, 38);
}

.ster {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: cyan;
    transform: rotate(10deg);
}

.ster::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: cyan;
    transform: rotate(40deg);
}

.ster::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: cyan;
    transform: rotate(70deg);
}